@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap");

$primary: #0e0e0e;
$secondary: #efefef;
$mainFont: "Sora", sans-serif;
$tran: 0.5s ease;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background: #222;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  & .container {
    position: relative;
    width: max-content;
    height: max-content;
    background: $secondary;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    padding: 5px;
    overflow: visible;
    transition: $tran;
    cursor: pointer;
    & img {
      width: 200px;
      transition: $tran;
    }
    &:hover img {
      transform: scale(1.04);
    }
    & .option {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
      & .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background: #fff;
        border-radius: 50%;
        & .inner-circle {
          width: 5px;
          height: 5px;
          background: $primary;
          border-radius: 50%;
          margin: 0 1px;
        }
      }
      & .circle-close {
        display: none;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background: #fff;
        border-radius: 50%;
        & .inner-line {
          color: $primary;
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }
    & .menu {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(110px, 15px);
      width: 120px;
      height: 120px;
      background: $secondary;
      display: none;
      flex-direction: column;
      justify-content: start;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
      & a {
        background: $secondary;
        color: $primary;
        border: none;
        text-align: left;
        width: 100%;
        height: 30px;
        padding: 5px;
        transition: $tran;
        font-family: $mainFont;
        cursor: pointer;
        &:hover {
          color: $secondary;
          background: #4285f4;
        }
      }
      & #delete {
        color: crimson;
      }
    }
  }
  & .image-view {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
  }
}
